<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE-edge" />
	<link rel="stylesheet" type="text/css"
		href="resources/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css"
		href="resources/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" type="text/css"
		href="resources/css/font-awesome.min.css"></link>
	<link rel="stylesheet" type="text/css"
		href="resources/css/jcarousel.responsive.css"></link>
	<link
		href='https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic'
		rel='stylesheet' type='text/css'></link>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</link>
	<link
		href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
		rel="stylesheet" type='text/css'></link>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
	<script src="resources/js/jquery.js"></script>
	<script src="resources/js/jquery.jcarousel.min.js"></script>
	<script src="resources/js/jcarousel.responsive.js"></script>
</h:head>

<h:body>
	<div class="container-fluid firstContainer">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2">
					<center>
						<img alt="Logo UNPAS" src="resources/assets/logo-unpas.png"
							class="logo" />
					</center>
				</div>
				<div class="col-md-5">
					<div class="title">
						<h2>Kehadiran Universitas Pasundan</h2>
					</div>
				</div>
			</div>
			<div class="mini-title">
				<h6>BERANDA</h6>
			</div>
		</div>
	</div>
	<br />
	<div class="container-fluid">
		<div class="row">
			<center>
				<div class="col-md-3 leftSide">
					<center>
						<img alt="Profil Picture" src="resources/assets/ava4.png"
							class="img-circle" />
					</center>
					<h4>Dra. Aneu Puspita, SE., MT.</h4>
					<h5>NIP : 009897872832327876</h5>
					<div class="row">

						<center>
							<nav class="navbar navbar-default " role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle"
									data-toggle="collapse" data-target="#navbar-collapsible2">
									<span class="sr-only">Toggle navigation</span> <span
										class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>
							</div>
							<div class="navbar-collapse collapse" id="navbar-collapsible2">
								<br />
								<div class="panel-group" id="panel-802513">

									<div class="panel panel-default">
										<div class="panel-heading">
											<a class="panel-title collapsed" data-toggle="collapse"
												data-parent="#panel-802513" href="#panel-element-829197">Halaman
												Utama</a>
										</div>
										<div id="panel-element-829197" class="panel-collapse collapse">
											<div class="panel-body">Statistik</div>
											<a href="DosenHalamanKehadiranDosen.jsf"><div
													class="panel-body">Kehadiran Dosen</div></a>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<a href="DosenHalamanAbsensiDosen.jsf">Absensi</a>
										</div>
									</div>
								</div>
							</div>
							</nav>
						</center>
						<h3>
							<a href="#">Keluar</a>
						</h3>
					</div>
				</div>
			</center>
			<br /> <br /> <br />
			<center>
				<div class="col-md-9 sideRight">
					<div class="row">
						<div class="col-md-12">
							<div id="carousel-example-generic" class="carousel slide"
								data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#carousel-example-generic" data-slide-to="0"
										class="active"></li>
									<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<center>
											<div class="col-xs-12">
												<img src="resources/assets/statistik.png" alt="Absensi"
													class="img-responsive"></img>
											</div>
										</center>
									</div>
									<div class="item">
										<center>
											<div class="col-xs-12">
												<img src="resources/assets/statistik2.jpg" alt="Absensi"
													class="img-responsive"></img>
											</div>
										</center>
									</div>
								</div>
								<!-- Controls -->
								<a class="left carousel-control"
									href="#carousel-example-generic" role="button"
									data-slide="prev"> <span
									class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a> <a class="right carousel-control"
									href="#carousel-example-generic" role="button"
									data-slide="next"> <span
									class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</div>

				</div>
			</center>
		</div>
	</div>
	<br />
	<center>
		<div class="container-fluid thirdContainer">
			<div class="row">
				<div class="col-md-3">
					<br /> <br />
					<center>
						<img alt="Logo UNPAS" src="resources/assets/logo-unpas.png"
							class="logo" />
					</center>
				</div>
				<div class="col-md-4">
					<br /> <br />
					<h4>ABOUT US</h4>
					<ul class="list">
						<li><a href="http://www.unpas.ac.id/"><i
								class="fa fa-home"> www.unpas.ac.id</i></a></li>
						<li><a
							href="https://www.facebook.com/pages/Universitas-Pasundan-UNPAS-Bandung/123782791001199?ref=br_rs"><i
								class="fa fa-facebook-square"> Universitas Pasundan (UNPAS)
									Bandung</i></a></li>
						<li><a href="https://twitter.com/unpas_bandung"><i
								class="fa fa-twitter"> @unpas_bandung</i></a></li>
						<li><a href="https://www.instagram.com/unpas_bandung/"><i
								class="fa fa-instagram"> unpas_bandung</i></a></li>

					</ul>
				</div>
				<br />
				<div class="col-md-5">
					<h4>UNIVERSITAS PASUNDAN BANDUNG</h4>
					<h5>Jalan Doktor Setiabudi Nomor 193 Bandung</h5>
					<h5>Jawa Barat, Indonesia</h5>
					<br />
					<h4>CALL CENTER</h4>
					<h5>(022) 2021440, 2021436</h5>
					<h5>humas@unpas.ac.id</h5>
				</div>
			</div>
		</div>
	</center>

	<script src="resources/js/script.js"></script>
	<script src="resources/js/jquery-2.2.2.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/docs.min.js"></script>
</h:body>

</html>