<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE-edge" />
	<link rel="stylesheet" type="text/css"
		href="resources/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css"
		href="resources/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" type="text/css"
		href="resources/css/font-awesome.min.css"></link>
	<link rel="stylesheet" type="text/css"
		href="resources/css/jcarousel.responsive.css"></link>
	<link
		href='https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic'
		rel='stylesheet' type='text/css'></link>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</link>
	<link
		href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
		rel="stylesheet" type='text/css'></link>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
	<script src="resources/js/jquery.js"></script>
	<script src="resources/js/jquery.jcarousel.min.js"></script>
	<script src="resources/js/jcarousel.responsive.js"></script>
</h:head>

<h:body>
	<div class="container-fluid firstContainer">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2">
					<center>
						<img alt="Logo UNPAS" src="resources/assets/logo-unpas.png"
							class="logo" />
					</center>
				</div>
				<div class="col-md-5">
					<div class="title">
						<h2>Kehadiran Universitas Pasundan</h2>
					</div>
				</div>
			</div>
			<div class="mini-title">
				<h6>KEHADIRAN</h6>
			</div>
		</div>
	</div>
	<br />
	<div class="container-fluid">
		<div class="row">
			<center>
				<div class="col-md-3 leftSide">
					<center>
						<img alt="Profil Picture" src="resources/assets/ava4.png"
							class="img-circle" />
					</center>
					<h4>Dra. Aneu Puspita, SE., MT.</h4>
					<h5>NIP : 009897872832327876</h5>
					<div class="row">

						<center>
							<nav class="navbar navbar-default " role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle"
									data-toggle="collapse" data-target="#navbar-collapsible2">
									<span class="sr-only">Toggle navigation</span> <span
										class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>
							</div>
							<div class="navbar-collapse collapse" id="navbar-collapsible2">
								<br />
								<div class="panel-group" id="panel-802513">

									<div class="panel panel-default">
										<div class="panel-heading">
											<a class="panel-title collapsed" data-toggle="collapse"
												data-parent="#panel-802513" href="#panel-element-829197"
												style="color: #2A68A9;">Halaman Utama</a>
										</div>
										<div id="panel-element-829197" class="panel-collapse collapse">
											<a href="DosenHalamanUtamaDosen.jsf"><div
													class="panel-body">Statistik</div></a> <a
												href="DosenHalamanKehadiranDosen.jsf"><div
													class="panel-body">Kehadiran Dosen</div></a>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">Absensi</div>
									</div>
								</div>
							</div>
							</nav>
						</center>
						<h3>
							<a href="#">Keluar</a>
						</h3>
					</div>

				</div>

			</center>

			<div class="col-md-9 sideRight">
				<div class="row">
					<div class="col-md-12">
						<ul class="nav navbar-nav navbar-left dropDown">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">Pilih Semester<strong class="caret"></strong></a>
								<ul class="dropdown-menu">
									<li><a href="#">20152 - Semester Genap 2015 - 2016</a></li>
									<li><a href="#">20151 - Semester Gasal 2015 - 2016</a></li>
									<li><a href="#">20142 - Semester Genap 2014 - 2015</a></li>
									<li><a href="#">20141 - Semester Gasal 2014 - 2015</a></li>
									<li><a href="#">20132 - Semester Genap 2013 - 2014</a></li>
									<li><a href="#">20132 - Semester Gasal 2013 - 2014</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
				<br />
				<center>
					<div class="row">
						<div class="col-xs-12">
							<div class="table-responsive">
								<table
									summary="This table shows how to create responsive tables using Bootstrap's default functionality"
									class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>No</th>
											<th>Kode Matakuliah</th>
											<th>Nama Matakuliah</th>
											<th>Kelas</th>
											<th>Jumlah Kehadiran</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>IT601</td>
											<td>Pemrograman Berbasis Objek</td>
											<td>D</td>
											<td>2 dari 11</td>
											<td><a href="DosenInputKehadiranMahasiswa.jsf"><button
														type="submit" class="btn btn-defaultOrange">Input</button></a>
											</td>
										</tr>
										<tr>
											<td>2</td>
											<td>IT602</td>
											<td>Sistem Kompleks</td>
											<td>A</td>
											<td>3 dari 13</td>
											<td><a href="DosenInputKehadiranMahasiswa.jsf"><button
														type="submit" class="btn btn-defaultOrange">Input</button></a>
											</td>
										</tr>
										<tr>
											<td>3</td>
											<td>IT601</td>
											<td>Pemrograman Berbasis Objek</td>
											<td>B</td>
											<td>2 dari 12</td>
											<td><a href="DosenInputKehadiranMahasiswa.jsf"><button
														type="submit" class="btn btn-defaultOrange">Input</button></a>
											</td>
										</tr>
										<tr>
											<td>4</td>
											<td>IT401</td>
											<td>Algoritma Pemrograman III</td>
											<td>B</td>
											<td>2 dari 13</td>
											<td><a href="DosenInputKehadiranMahasiswa.jsf"><button
														type="submit" class="btn btn-defaultOrange">Input</button></a>
											</td>
										</tr>
										<tr>
											<td>5</td>
											<td>IT201</td>
											<td>Komputerisasi</td>
											<td>B</td>
											<td>2 dari 14</td>
											<td><a href="DosenInputKehadiranMahasiswa.jsf"><button
														type="submit" class="btn btn-defaultOrange">Input</button></a>
											</td>
										</tr>
										<tr>
											<td>6</td>
											<td>IT601</td>
											<td>Pemrograman Berbasis Objek</td>
											<td>D</td>
											<td>2 dari 11</td>
											<td><a href="DosenInputKehadiranMahasiswa.jsf"><button
														type="submit" class="btn btn-defaultOrange">Input</button></a>
											</td>
										</tr>
										<tr>
											<td>7</td>
											<td>IT301</td>
											<td>Sistem Operasi</td>
											<td>B</td>
											<td>7 dari 11</td>
											<td><a href="DosenInputKehadiranMahasiswa.jsf"><button
														type="submit" class="btn btn-defaultOrange">Input</button></a>
											</td>
										</tr>
										<tr>
											<td>8</td>
											<td>IT603</td>
											<td>Matriks</td>
											<td>C</td>
											<td>2 dari 11</td>
											<td><a href="DosenInputKehadiranMahasiswa.jsf"><button
														type="submit" class="btn btn-defaultOrange">Input</button></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--end of .table-responsive-->
						</div>
					</div>
				</center>
			</div>

		</div>
	</div>
	<br />
	<center>
		<div class="container-fluid thirdContainer">
			<div class="row">
				<div class="col-md-3">
					<br /> <br />
					<center>
						<img alt="Logo UNPAS" src="resources/assets/logo-unpas.png"
							class="logo" />
					</center>
				</div>
				<div class="col-md-4">
					<br /> <br />
					<h4>ABOUT US</h4>
					<ul class="list">
						<li><a href="http://www.unpas.ac.id/"><i
								class="fa fa-home"> www.unpas.ac.id</i></a></li>
						<li><a
							href="https://www.facebook.com/pages/Universitas-Pasundan-UNPAS-Bandung/123782791001199?ref=br_rs"><i
								class="fa fa-facebook-square"> Universitas Pasundan (UNPAS)
									Bandung</i></a></li>
						<li><a href="https://twitter.com/unpas_bandung"><i
								class="fa fa-twitter"> @unpas_bandung</i></a></li>
						<li><a href="https://www.instagram.com/unpas_bandung/"><i
								class="fa fa-instagram"> unpas_bandung</i></a></li>

					</ul>
				</div>
				<br />
				<div class="col-md-5">
					<h4>UNIVERSITAS PASUNDAN BANDUNG</h4>
					<h5>Jalan Doktor Setiabudi Nomor 193 Bandung</h5>
					<h5>Jawa Barat, Indonesia</h5>
					<br />
					<h4>CALL CENTER</h4>
					<h5>(022) 2021440, 2021436</h5>
					<h5>humas@unpas.ac.id</h5>
				</div>
			</div>
		</div>
	</center>

	<script src="resources/js/script.js"></script>
	<script src="resources/js/jquery-2.2.2.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/docs.min.js"></script>
</h:body>

</html>