<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE-edge" />
	<link rel="stylesheet" type="text/css"
		href="resources/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css"
		href="resources/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" type="text/css"
		href="resources/css/font-awesome.min.css"></link>
	<link rel="stylesheet" type="text/css"
		href="resources/css/jcarousel.responsive.css"></link>
	<link
		href='https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic'
		rel='stylesheet' type='text/css'></link>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</link>
	<link
		href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
		rel="stylesheet" type='text/css'></link>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
	<script src="resources/js/jquery.js"></script>
	<script src="resources/js/jquery.jcarousel.min.js"></script>
	<script src="resources/js/jcarousel.responsive.js"></script>
</h:head>

<h:body>
	<div class="container-fluid firstContainer">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2">
					<center>
						<img alt="Logo UNPAS" src="resources/assets/logo-unpas.png"
							class="logo" />
					</center>
				</div>
				<div class="col-md-5">
					<div class="title">
						<h2>Kehadiran Universitas Pasundan</h2>
					</div>
				</div>
			</div>
			<div class="mini-title">
				<h6>KEHADIRAN</h6>
			</div>
		</div>
	</div>
	<br />
	<div class="container-fluid">
		<div class="row">
			<center>

				<div class="col-md-3 leftSide">
					<center>
						<img alt="Profil Picture"
							src="resources/assets/profil-picture.png" class="img-circle" />
					</center>
					<h4>Ferry Aman Saragih, S.Ag.</h4>
					<h5>NIP : 009897872832327876</h5>
					<div class="row">
						<center>
							<nav class="navbar navbar-default " role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle"
									data-toggle="collapse" data-target="#navbar-collapsible2">
									<span class="sr-only">Toggle navigation</span> <span
										class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>
							</div>
							<div class="navbar-collapse collapse" id="navbar-collapsible2">
								<br />
								<div class="panel-group" id="panel-802513">

									<div class="panel panel-default">
										<div class="panel-heading">
											<a class="panel-title collapsed" data-toggle="collapse"
												data-parent="#panel-802513" href="#panel-element-829197"
												style="color: #2A68A9;">Halaman Utama</a>
										</div>
										<div id="panel-element-829197" class="panel-collapse collapse">
											<a href="KaryawanHalamanUtamaStatistik.jsf"><div
													class="panel-body">Statistik</div></a>
										</div>
									</div>
									<div class="panel panel-default">
										<a href="KaryawanHalamanUtamaKaryawan.jsf"><div class="panel-heading">Absensi</div></a>
									</div>
								</div>
							</div>
							</nav>
						</center>
						<h4>
							<a href="#">Keluar</a>
						</h4>
					</div>
				</div>

			</center>

			<div class="col-md-9 sideRight">
				<center>
					<div class="row">
						<div class="col-md-12">
							<h4>CETAK KEHADIRAN</h4>
						</div>
					</div>
				</center>
				<div class="row">
					<div class="col-md-2">Matakuliah</div>
					<div class="col-md-1">:</div>
					<div class="col-md-9">Senin, 01/01/2016</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-2">Kelas</div>
					<div class="col-md-1">:</div>
					<div class="col-md-3">
						<select class="form-control">
							<option>Pilih Kelas</option>
							<option value="#">A</option>
							<option value="#">B</option>
							<option value="#">C</option>
							<option value="#">D</option>
							<option value="#">E</option>
							<option value="#">F</option>
							<option value="#">G</option>
							<option value="#">Karyawan</option>
						</select>
					</div>
					<div class="col-md-6"></div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-2">Tanggal</div>
					<div class="col-md-1">:</div>
					<div class="col-md-3">
						<input type="text" class="form-control" name="Tanggal"
							placeholder="01/01/2016" />
					</div>
					<div class="col-md-6"></div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-3">
						<a href="#"><button type="submit" class="btn btn-rightNavy">Lihat</button></a>
					</div>
					<div class="col-md-8"></div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-2">Dosen</div>
					<div class="col-md-1">:</div>
					<div class="col-md-9">Dra. Aneu Puspita, SE., MT. (3 dari 13
						Pertemuan)</div>
				</div>

				<br />

				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table
								summary="This table shows how to create responsive tables using Bootstrap's default functionality"
								class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>No</th>
										<th>NRP</th>
										<th>Nama</th>
										<th>Presensi</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>133040xxx</td>
										<td>Riyan Hidayat</td>
										<td>3 dari 4 (75%)</td>
									</tr>
									<tr>
										<td>2</td>
										<td>133040xxx</td>
										<td>Agus Permana</td>
										<td>3 dari 4 (75%)</td>
									</tr>
									<tr>
										<td>3</td>
										<td>133040xxx</td>
										<td>Abdul Malik</td>
										<td>3 dari 4 (75%)</td>
									</tr>
									<tr>
										<td>4</td>
										<td>133040xxx</td>
										<td>Trias Fachrul</td>
										<td>3 dari 4 (75%)</td>
									</tr>
									<tr>
										<td>5</td>
										<td>133040xxx</td>
										<td>Igun Wiguna</td>
										<td>3 dari 4 (75%)</td>
									</tr>
									<tr>
										<td>6</td>
										<td>133040xxx</td>
										<td>Willymar Juniarta</td>
										<td>3 dari 4 (75%)</td>
									</tr>
									<tr>
										<td>7</td>
										<td>133040xxx</td>
										<td>Firman Kusnandi</td>
										<td>3 dari 4 (75%)</td>
									</tr>
									<tr>
										<td>8</td>
										<td>133040xxx</td>
										<td>Lando Rinov</td>
										<td>3 dari 4 (75%)</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--end of .table-responsive-->
					</div>
				</div>

				<br /> <a href="#"><button type="submit"
						class="btn btn-rightNavy2">Cetak</button></a> <a href="#"><button
						type="submit" class="btn btn-rightNavy2">Ubah</button></a>

			</div>

		</div>
	</div>
	<br />
	<center>
		<div class="container-fluid thirdContainer">
			<div class="row">
				<div class="col-md-3">
					<br /> <br />
					<center>
						<img alt="Logo UNPAS" src="resources/assets/logo-unpas.png"
							class="logo" />
					</center>
				</div>
				<div class="col-md-4">
					<br /> <br />
					<h4>ABOUT US</h4>
					<ul class="list">
						<li><a href="http://www.unpas.ac.id/"><i
								class="fa fa-home"> www.unpas.ac.id</i></a></li>
						<li><a
							href="https://www.facebook.com/pages/Universitas-Pasundan-UNPAS-Bandung/123782791001199?ref=br_rs"><i
								class="fa fa-facebook-square"> Universitas Pasundan (UNPAS)
									Bandung</i></a></li>
						<li><a href="https://twitter.com/unpas_bandung"><i
								class="fa fa-twitter"> @unpas_bandung</i></a></li>
						<li><a href="https://www.instagram.com/unpas_bandung/"><i
								class="fa fa-instagram"> unpas_bandung</i></a></li>

					</ul>
				</div>
				<br />
				<div class="col-md-5">
					<h4>UNIVERSITAS PASUNDAN BANDUNG</h4>
					<h5>Jalan Doktor Setiabudi Nomor 193 Bandung</h5>
					<h5>Jawa Barat, Indonesia</h5>
					<br />
					<h4>CALL CENTER</h4>
					<h5>(022) 2021440, 2021436</h5>
					<h5>humas@unpas.ac.id</h5>
				</div>
			</div>
		</div>
	</center>

	<script src="resources/js/script.js"></script>
	<script src="resources/js/jquery-2.2.2.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/docs.min.js"></script>
</h:body>

</html>