/*!
	cara comment
*/
.logo {
	width: 100px;
	margin-top: 10px;
	margin-bottom: -10px
}

.col-md-5 .title {
	margin-top: 40px;
	text-align: center;
}

.mini-title {
	text-align: center;
}

.img-circle {
	width: 100px;
	margin-top: 10px;
}

.firstContainer {
	background-color: #FFA500;
	color: white;
}

.secondContainer {
	margin-top: 20px;
}

.thirdContainer {
	background-color: #FFA500;
	color: white;
}

.leftSide {
	padding-top: 20px;
	/* background-color: #183546; */
	/* #476167 */
	height: auto;
	color: black;
}

.sideRight {
	border-left: solid 1px #cccccc;
}

.form-control {
	width: 80%;
}

.form-group {
	margin-top: 10px;
}

.btn-rightNavy {
	float: right;
	background-color: #183546;
	color: white;
}

.btn-rightNavy2 {
	background-color: #183546;
	color: white;
}

.btn-rightNavy :HOVER {
	color: white;
}

.btn-defaultOrange {
	background-color: #FFA500;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 20px;
	text-decoration: none;
	color: white;
}

.btn-defaultOrange a {
	text-decoration: none;
	color: white;
}

.btn-defaultOrange :HOVER {
	text-decoration: none;
	color: black;
}

.carousel {
	height: 400px;
}

.headerCarousel {
	margin-top: -10px;
}

.carousel-inner .item {
	width: 1000px;
	height: 500px;
}

.list {
	list-style: none;
	margin-left: -45px;
	text-decoration: none;
	color: white;
}

li a {
	color: white;
}

.dropDown {
	color: black;
	background-color: #183546;
}